<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi cuenta</title>
</head>
<body>
    ----> Aquí va el perfil y la info del proyecto solicitado por el cliente <------
    <a href="/">Ir a pagina principal</a>
    

    <% for(x of rows){ %> 
        
        <p>Nombre de Usuario: <%= x.nombre %></p>
        <p>Email: <%= x.email %>
        </p>
        <p>Tu telefono: <%= x.telefono %>
        </p>

        <p>Asunto de proyecto solicitado: <%= x.asunto %>
        </p>
        <p>Descripción de proyecto solicitado: <%= x.mensaje %>
        </p>
        <p>Tiempo: <%= x.fecha_actual %>
        </p>

        <p>Tiempo acordado: <%= x.tiempoAcordado %>
        </p>


        
        <% } %> 
</body>
</html>